/*
#053B50
#176B87
#64CCC5
#EEEEEE
#C8FFE0
*/

.fill-y{
    min-height: 100vh;
    
}
.no-vscroll{
    position: -webkit-sticky;
    position: sticky;

    height: calc(100vh - 140px);
    top: 0;
    overflow-y: hidden;
}

.vscroll{
    height: calc(100vh - 140px);
    overflow-y: scroll;
}

.vscroll::-webkit-scrollbar{
    display: none;
}
.carousel-item img{
    height: 70vh;
    object-fit: cover;
}

nav{
    background-color: #053B50;
}

#map {
  
    height: 80vh; 
  }

  .leaflet-control-geocoder {
    width: 300px;
    margin: 10px;
}



.secondary-bg{
 background-color: #eeeeee;
 color: #053B50;
}

.primary-bg{
    background-color: #053B50;
    color: #ffffff;
}

.route-btn{

color:#ffffff;
    background-color: #053B50;
  
}

.pg-img{
    height: 200px;
    max-height: 200px;
}

.chat-btn{
    color: #ffffff;
      
        background-color: #176b87;
       
    }

    .route-btn:hover{
        background-color: #022e40;
        color: #ffffff;
    }

    .chat-btn:hover{
        background-color: #1e7895;
        color: #ffffff;
    }
.link{
    color: #ffffff;
    text-decoration: none;
}
.link:hover{
    text-decoration: underline;
}
.room-card img{
   height: 200px;
   width: 100%;
}

.primary-btn{
    background-color: #053B50;
    color: #ffffff;
}




.primary-btn:hover{
    color: #ffffff;
    background-color: #176b87;
}

.secondary-btn{
    background-color: #ffffff;
    color: #176b87;
}

.secondary-btn:hover{
    color: #ffffff;
    background-color: #176b87;
}

.card-footer .btn{
    text-decoration: none;
    color: #ffffff;
    border-radius: 0;

}
.card-footer .btn:hover{
    background-color: #64CCC5;
    color: #053B50;
}

.content-box{
    position: -webkit-sticky;
    position: sticky;
    height: calc(100vh - 20px); ;
    top: 0;
    overflow-y: hidden;
}

.filter-box{
  background-color: #EEEEEE;
  box-shadow: 2px 3px 10px #cccccc;
  border-radius: 5px;
}

.filter-box label,.form-control,.form-control:focus,.form-check-input{
   border-color: #aaaaaa;
   box-shadow: none;
  
   
}
.sender-name{
    font-size: 14px;
    color: #ccc;
}
.message {
    margin: 10px;
    padding: 5px 20px;
    display: block;
    border: 1px solid #ccc;
    max-width: 40%;
    border-radius: 30px;
    border: none;
}

.sent {
    background: linear-gradient(to right, #C8FFE0, #64CCC5);
    color: #000000;
    border-bottom-right-radius: 0px;

   
}

.received {
    background: linear-gradient(to right, #64CCC5, #176B87ee);
    color: #FFFFFF; 
    border-top-left-radius: 0;
  
}

/* Adjust these styles to fit your design and layout preferences. */


.filter-box .form-check-input:checked{
    background-color: #053B50;
    border-color: #053B50;

}

.filter-box .form-check-label{
    color: #555;
    font-size:small;
}

.filter-box button{
    background-color: #053B50;
    border: none;

}
.filter-box button:hover{
    background-color: #176b87;
    border: none;
    
}

.sticky-top{
    
}

.wishlist-form{
    border-bottom-left-radius: 100%;
    padding-left: 10px;
    padding-bottom:10px ;
    background-color: #ffffff;
}

.wishlist-form .btn{
  font-size: 1.4rem;
}
.wishlist-form .btn:active{
  border: none;
  box-sizing: 0;
}

#pgList{
    height: calc(100vh - 60px);
    overflow-y: scroll;
    scrollbar-width: 0;
    -ms-overflow-style: none;
}

.transparent-chips{
    background-color: #022e40aa;
    color: #ffffff;
}



#pgList::-webkit-scrollbar {
    display: none;
}

.form-header{
    background-color: #053B50;
    color: #ffffff;
}

.msg-body{
    height: calc(100vh - 140px); 
    overflow-y: auto;
}

.msg-body #messagesList{
    height: 100%;
}

.convo .card-header{
    border-radius: 0 !important;
   
    
}

.all-chat-container{
   height: 100vh;
   overflow-y: scroll;
   background-color: #022e40;

}

.all-chat-container::-webkit-scrollbar{
    display: none;
}

.all-chat-container .list-group-item{
    background-color: transparent;
    border-bottom: 1px solid #176b87;

  
    

}

.all-chat-container .list-group-item a{
    color: #ffffff;
    text-decoration: none;
    
}

.all-chat-container .list-group-item a small{
    color: #dddddd;
}

.all-chat-container .text-container{
    width: 100%;
    
}

.chat-header{
    padding: 20px;
    height: 70px;
    background-color: #053B50;
}

.circle{
    border-radius: 50%;

}